.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.marginTop10 {
  margin-top:10px;
}

.alignLeft{
  text-align: left;
}

.paddingLeft20{
  padding-left: 20px;
}

.containerFlex{
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.taskDetailFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.limitWord {
  width: 100px;
  word-break: break-all;
  display:block
}
.markDone{
  text-decoration-line: line-through;
  -webkit-text-decoration-line: line-through;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
